@using Model.EF
@model Model.EF.TAILIEU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Chi tiết tài liệu môn: @Model.MONTHI.TENMON</h2>

<div>
    <h4>Tài liệu bài: @Model.TENBAI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MONTHI.TENMON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTHI.TENMON)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.TENBAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENBAI)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.NOIDUNG)*@
            @Html.Raw(Model.NOIDUNG)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.NGAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY)
        </dd>
        <hr />
    </dl>
</div>
<p>
    <button class="button">
        @Html.ActionLink("Sửa Tài Liệu", "Edit", new { id = Model.IDTAILIEU })
    </button>
    -
    <button class="button">
        @Html.ActionLink("Back to List", "Index")
    </button>
</p>
