@using Model.EF
@{
    ViewBag.Title = "ChiTietCauHoi";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
    var cauHoi = (CAUHOI)ViewBag.cauHoi;
}

<h2>Chi tiết câu hỏi.</h2>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Câu Hỏi Số: @cauHoi.IDCAUHOI
            </div>
            <!-- .panel-heading -->
            <ul class="list-group">
                <li class="list-group-item">
                    Nội dung câu hỏi: @Html.Raw(@cauHoi.NOIDUNGCAUHOI)
                </li>
                <li class="list-group-item">
                    A. @cauHoi.DAPAN_A
                </li>
                <li class="list-group-item">
                    B. @cauHoi.DAPAN_B
                </li>
                <li class="list-group-item">
                    C. @cauHoi.DAPAN_C

                </li>
                <li class="list-group-item">
                    D. @cauHoi.DAPAN_D
                </li>
                <li class="list-group-item">
                    Đáp án đúng: @cauHoi.DAPAN_DUNG
                </li>
                <div class="clear"></div>
            </ul>
        </div>

    </div>

</div>


