@model IEnumerable<Model.EF.CAUHOI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Quản lý danh sách câu hỏi</h2>
<hr />
<p>
    <button class="button">
        @Html.ActionLink("Tạo mới câu hỏi", "Create")
    </button>
</p>
<br />
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Danh sách Câu Hỏi</strong>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover col-md-6">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NOIDUNGCAUHOI)
                                </th>
                               

                                <th>Tùy Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td id="cauhoi">
                                        @Html.Raw(item.NOIDUNGCAUHOI)
                                    </td>
                                   
                                    <td>
                                        <button class="button">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.IDCAUHOI })
                                        </button>
                                        |
                                        <button class="button">
                                            @Html.ActionLink("Details", "Details", new { id = item.IDCAUHOI })
                                        </button>
                                        |
                                        <button class="button">
                                            @Html.ActionLink("Delete", "Delete", new { id = item.IDCAUHOI })
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>