@using Model.EF
@model Model.EF.TINTUC

@{
    ViewBag.Title = "xemtin";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
    var tintuc = (IOrderedEnumerable<TINTUC>)ViewBag.tintuc;
    var sotin = 1;
}


<div>
    <h3><strong>@Model.TIEUDE</strong> </h3>
    <dd>
        @Html.DisplayFor(model => model.THOIGIAN)
    </dd>
    <hr />
    <dl class="dl-horizontal">

        <h4> @Html.DisplayFor(model => model.TOMTAT)</h4>

        <hr />

        @Html.Raw(Model.NOIDUNG)
        <br />
        <div class="nguonUrl">
            <span>
                <strong>Nguồn: </strong>
            </span>
            <a target="_blank" href="@Model.NGUON">@Model.NGUON</a>
</div>

    </dl>
    <hr />
    <h4> Tin tức liên quan: </h4>
    <div class="col-md-6" id="tintuclienquan">
        <div style="width:100%">
            <ul id="listbao">

                @foreach (var itemtintuccon in tintuc)
                {
                    if (@sotin < 5)
                    {
                        <li id="listtinbao">
                            <a href="/TinTucGiaoDuc/xemtin/@itemtintuccon.IDTINTUC">@itemtintuccon.TIEUDE</a>
                        </li>
                    }
                    sotin++;
                }
            </ul>
        </div>
    </div>
</div>

