@model Model.EF.CAPTHI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Chi Tiết Cấp Thi </h2>

<div>
    <h4>Cấp thi: @Model.TENCAPTHI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENCAPTHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCAPTHI)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>
    </dl>
</div>
<hr />
<p>
    <button class="button">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IDCAPTHI })
    </button>
    |
    <button class="button">
        @Html.ActionLink("Back to List", "Index")
    </button>
</p>
