@model Model.EF.THONGBAO

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Chi tiết thông báo</h2>

<div>
    <h4>Thông báo ngày @Model.NGAYDANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENTHONGBAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTHONGBAO)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNGTHONGBAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNGTHONGBAO)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.NGAYDANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDANG)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>
        <hr />
    </dl>
</div>
<p>
    <button class="button">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IDTHONGBAO })
    </button>
    |
    <button class="button">
        @Html.ActionLink("Back to List", "Index")
    </button>
</p>
